.features {
    &__desc {
        margin-bottom: 100px;
    }
}

.features-second-bg {
    position: relative;
    margin-top: 80px;

    &__img {
        // border-radius: 44px;
        // filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
        width: 100%;
    }

    &__img-mobile {
        width: 100%;
        display: none;
    }

}

.play-button-bg {
    cursor: pointer;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 188px;
    height: 188px;
    background-color: $main-color;
    border-radius: 100%;
    transition: all .3s;

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: #40a3ff;
    }
}

.feature-kinds {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    max-width: 100%;

    &__img {
        margin-bottom: 27px;
        width: 45px;
        height: 45px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    &__desc {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
}

@media(max-width:991px) {
    .feature-item {
        padding: 0 15px;
    }
}

@media(max-width:768px) {
    .feature-kinds {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        padding: 0;

        &__mobile {
            margin-bottom: 75px;
        }
    }

    .play-button-bg {
        width: 100px;
        height: 100px;
    }
}

@media(max-width:575px) {
    .features {
        &__desc {
            margin-bottom: 70px;
        }

        .container {
            display: flex;
            flex-direction: column;
        }

        &__title {
            order: 1;
        }

        .desc--small-screen {
            order: 2;
        }

        .features-second-bg {
            margin-top: 0;
            margin-bottom: 80px;
            order: 3;

            &__img {
                display: none;
            }

            &__img-mobile {
                display: block;
            }
        }

        .feature-kinds {
            order: 4;
        }

        .play-button-bg {
            width: 60px;
            height: 60px;

            &__button {
                width: 16px;
            }
        }

    }
}