.organising {
    display: flex;
    justify-content: space-between;
    padding: 310px 15px 280px 15px;
}

.offering-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__desc {
        margin: 0;
        margin-bottom: 70px;
    }

}
.offering-right {
    &__img {
        width: 100%;
    }
}

@media(min-width:1201px) {
    .offering-left {
        &__title {
            text-align: left;
        }
    }
}

@media(max-width:1200px) {
    .organising {
        padding: 90px 15px 85px 15px;
        flex-direction: column;
        align-items: center;
    }
    .offering-left {
        align-items: center;
        &__title {
            text-align: center;
        }
        &__desc {
            text-align: center;
        }
        &__btn {
            margin-bottom: 60px;
        }

    }
}
@media(max-width:575px) {
    .offering-left {
        &__desc {
            width: auto;
        }
    }
}