.organising {
    padding-top: 226px;
}
.order {
    order: 3;
}

.offering-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
        max-width: 100%;
        width: 580px;
    }

    &__img-2 {
        display: none;
    }
}

.proffer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text {
        margin-bottom: 36px;
    }


    &__mobile-title {
        display: none;
    }

    &__mobile-desc {
        display: none;
    }
}



@media(max-width:1200px) {
    .offering-block {
        flex-direction: column;

        &__img {
            width: 620px;
            max-width: 100%;
            margin-bottom: 70px;
        }
    }

    .proffer {
        align-items: center;

        &__btn {
            margin-bottom: 60px;
        }

    }


}

@media(max-width:575px) {
    .organising {
        padding-top: 100px;
    }

    .offering-block {
        &__img-hidden {
            display: none;
        }

        &__img-2 {
            display: block;
            order: 4;
        }
    }

    .proffer {
        &__desktop-title {
            display: none;
        }

        &__mobile-title {
            order: 2;
            display: block;
        }

        &__mobile-desc {
            order: 3;
            display: block;
        }
        &__text-order {
            order: 5;
        }

        &__wrapper {

            width: 350px;
            max-width: 100%;
        }


        &__text {
            order: 6;
        }
    }

}