.pricing {
    background-color: #252B42;
    padding: 100px 15px 100px 15px;

    &__desc {
        color: white;
        margin-bottom: 90px;
    }

    &__title {
        color: white;
    }

    &__tariff {
        margin: 0 25px;
    }
}

.tariff-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tariff {
    background-color: #fff;
    border-radius: 10px;
    max-width: 100%;
    width: 335px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    &:hover {
        filter: drop-shadow(0px 8.14769px 63.1446px rgb(53, 122, 187));
    }

    &__btn {
        margin-top: 20px;
        padding: 11px 65px;

        &__standard {
            background-color: #fff;
            color: $main-color;

            &:hover {
                background-color: rgb(219, 219, 219);
            }
        }
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__desc {
        text-align: center;
        font-size: 16px;
    }

    &:nth-child(even) {
        padding: 80px 40px;
        background-color: $main-color;
        color: #fff;
    }
}


.price {
    display: flex;
    align-items: center;

    &__num {
        font-size: 74px;
        font-weight: 700;
        margin-right: 10px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

    &__currency {
        font-size: 20px;
        font-weight: 700;
    }
}

.features-list {
    padding: 0;
    list-style-type: none;

    &__item {
        padding: 10px;
    }
}

@media(max-width:991px) {
    .pricing {
        &__tariff {
            margin-bottom: 50px;
        }
    }
    .tariff-list {
        flex-direction: column;
    }

    .tariff {
        &:nth-child(even) {
            padding: 40px 15px;
        }

    }
}