.prototyping {
    padding: 160px 15px 43px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    align-items: center;
    justify-content: center;
}

.subscription-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__subtitle {
        margin-bottom: 20px;
    }

    &__mobile-title {
        display: none;
    }

    &__mobile-title {
        display: none;
    }

    &__mobile-desc {
        display: none;
    }

    &__mobile-img {
        display: none;
    }

}

.subscription-left {
    &__img {
        width: 100%;
    }
}

.subscription-request {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.form {
    padding: 36px 0;
    display: flex;

    &__input {
        margin-right: 10px;
    }
}

@media(min-width:1201px) {
    .subscription-right {
        &__desktop-title {
            text-align: left;
        }
    }
}


@media(max-width:1201px) {
    .prototyping {
        grid-template-columns: 1fr;

    }

    .subscription-left {
        display: flex;
        justify-content: center;

        &__img {
            width: 690px;
            max-width: 100%;
            margin-bottom: 100px;
        }
    }

    .subscription-right {
        align-items: center;
    }

    .subscription-request {
        align-items: center;
        padding-left: 0;
    }
}

@media(max-width:575px) {
    .prototyping {
        padding: 30px 15px 43px 15px;
    }
    .subscription-left {
        &__img {
            display: none;
        }
    }

    .subscription-right {
        &__desktop-title {
            display: none;
        }

        &__mobile-title {
            display: block;
        }

        &__mobile-desc {
            width: auto;
            display: block;
            margin-bottom: 60px;
        }

        &__mobile-img {
            width: 100%;
            margin-bottom: 60px;
            display: block;
        }
    }
    .subscription-request {
        width: 100%;
    }
    .form {
        width: 100%;
        flex-direction: column;
        &__input {
            padding: 15px 39px;
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}