.prototyping {
    padding-top: 226px;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 430px;

    &__mobile-title {
        display: none;
    }

    &__text {
        margin-bottom: 36px;
    }

    &__mobile-desc {
        display: none;
    }
    &__btn {
        padding: 14px 39px;
    }
}

.form-subscribe {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        background-color: #F4F4F4;
        padding: 0 30px;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
    }
}

@media(max-width:1200px) {
    .subscription {
        align-items: center;
        &__btn {
            padding: 12px 39px;
        }
    }
    .form-subscribe {
        justify-content: space-around;
    }
}
@media(max-width:575px) {
    .prototyping {
        padding-top: 100px;

    }
    .subscription {
        max-width: 100%;
    }

    .subscription {
        &__desktop-title {
            display: none;
        }

        &__mobile-title {
            order: 2;
            display: block;
        }

        &__mobile-desc {
            order: 3;
            display: block;
        }
        &__text-order {
            margin-bottom: 10px;
            order: 5;
        }

        &__wrapper {

            width: 350px;
            max-width: 100%;
        }


        &__text {
            order: 6;
            text-align: center;
        }
    }
    
    .form-subscribe {
        order: 7;
        flex-direction: column;

        input {
            padding: 14px 39px;
            margin-bottom: 12px;
        }
    }
}