.btn {
    display: flex;
    align-items: center;
    padding: 15px 63px;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background-color: $main-color;
    border-radius: $border-radius;
    border: none;
    transition: all .3s;
    font-size: 20px;
    white-space: nowrap;

    &:hover {
        background-color: #53acff;
    }
    &--font-weight-bold {
        font-weight: 700;
    }
    &--form-btn {
        padding: 15px 39px
    }
}
@media(max-width:575px) {
    .btn {
        padding: 15px 25px;
        &--form-btn {
            padding: 12px 39px;
        }
    }
}
 

