.desc {
    text-align: center;
    margin: 0 auto;
    width: 532px;
    max-width: 100%;
    font-size: 28px;
    font-weight: 400;

    &--margin-bottom-90 {
        margin-bottom: 90px;
    }

    &--color-black {
        color: #374754;
    }

    &--display {
        display: block;
    }
    &--text-align-left {
        text-align: left;
    }
    &--margin-bottom-71 {
        margin-bottom: 71px;
    }

}

@media(max-width:1200px) {
    .desc {
        &--text-align-center {
            text-align: center;
        }
    }
}

@media(max-width:575px) {
    .desc {
        &--display-none {
            display: none;
        }

        &--small-screen {
            width: 300px;
        }
        &--margin-bottom-70 {
            margin-bottom: 70px;
        }
    }
}