.desc {
    margin: 0 auto;
    width: 532px;
    max-width: 100%;
    font-size: 28px;
    font-weight: 400;

    &--text-align-center {
        text-align: center;
    }

}

@media(max-width: 575px) {
    .desc {
        font-size: 25px;
        &__desktop {
            display: none;
        }
    }
}