.title {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 30px;
    line-height: 55px;

}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: $text-color;
    text-align: center;

}

@media(max-width: 575px) {
    .title {
        font-size: 45px;
        padding: 0 20px;
    }
}